<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
    <body>
    <div class="container-fluid g-0">
        <div class="row admin-header">
            <div class="col admin-header_info d-flex">
                <p><span class="admin-header_info_mail">[[${autUser.getMail()}]]&#160</span>with roles: <span th:each="us1 : ${autUser.getRoles()}" th:text="${#strings.replace(us1.nameRole, 'ROLE_', ' ')}"></span></p>
            </div>
            <div class="col admin-header_logout d-flex">
                <a th:href="@{/logout}">Logout</a>
            </div>
        </div>

        <div class="row g-0 admin-body">
            <div class="col-2 admin-body_pages">
                <div class="admin-body_pages_button bactive" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}">Admin</a>
                </div>
                <div class="admin-body_pages_button" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user}">User</a>
                </div>
            </div>
            <div class="col-10 admin-body_info">
                <h1 class="admin-body_info_title">
                    Admin panel
                </h1>
                <nav class="admin-body_info_tabs">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users table</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New user</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="admin-body_info_tabs_tab">
                            <div class="admin-body_info_tabs_tab_content_title">
                                <h2>All users</h2>
                            </div>
                            <div class="admin-body_info_tabs_tab_content">
                                <table class="admin-body_info_tabs_tab_content_table table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="users" >

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="admin-body_info_tabs_tab">
                            <div class="admin-body_info_tabs_tab_content_title">
                                <h2>Add new user</h2>
                            </div>
                            <div class="admin-body_info_tabs_tab_content">
                                <div class="admin-body_info_tabs_tab_content_formAdd">
                                    <form action="#" id ="addUser" method="post">
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>First name</h4>
                                            <input class="form-control" type="text" name="name"/>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>Last name</h4>
                                            <input class="form-control" type="text" name="surname"/>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>Email</h4>
                                            <input class="form-control" type="text" name="mail" required/>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>Age</h4>
                                            <input class="form-control" type="text" name="age"/>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>Password</h4>
                                            <input class="form-control" type="password" name="password"/>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <h4>Role</h4>
                                            <select class="form-control" name="newRole" size="2" required>
                                                <option th:each="role : ${roles}"
                                                        th:value="${role.nameRole}"
                                                        th:utext="${#strings.replace(role.nameRole, 'ROLE_', '')}"></option>
                                            </select>
                                        </div>
                                        <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                            <button id="submitButton" class="btn btn-success" type="submit">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--updateModal-->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatelLabel1">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="admin-body_info_tabs_tab_content_formAdd">
                        <form id="editUser">
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Id</h4>
                                <input class="form-control" id="form-control_id" type="text" name="id" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>First name</h4>
                                <input class="form-control" id="form-control_name" type="text" name="name"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Last name</h4>
                                <input class="form-control" id="form-control_surname" type="text" name="surname"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Email</h4>
                                <input class="form-control" id="form-control_mail" type="text" name="mail" required/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Age</h4>
                                <input class="form-control" id="form-control_age" type="text" name="age"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Password</h4>
                                <input class="form-control" id="form-control_password" type="text" name="password"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Role</h4>
                                <select class="form-control" th:name="newRole", size="2">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.nameRole}"
                                            th:utext="${#strings.replace(role.nameRole, 'ROLE_', '')}"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="editUser" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </div>
    </div>

<!--deleteModal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLabel1">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="admin-body_info_tabs_tab_content_formAdd">
                        <form id="deleteUser" action="/api/users">
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Id</h4>
                                <input class="form-control" id="form-control_delete_id" type="text" name="id" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>First name</h4>
                                <input class="form-control" id="form-control_delete_name" type="text" name="name" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Last name</h4>
                                <input class="form-control" id="form-control_delete_surname" type="text" name="surname" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Email</h4>
                                <input class="form-control" id="form-control_delete_mail" type="text" name="mail" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Age</h4>
                                <input class="form-control" id="form-control_delete_age" type="text" name="age" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Password</h4>
                                <input class="form-control" id="form-control_delete_password" type="text" name="password" readonly="readonly"/>
                            </div>
                            <div class="admin-body_info_tabs_tab_content_formAdd_element">
                                <h4>Role</h4>
                                <select class="form-control" th:name="newRole", size="2" readonly="readonly">
                                    <option th:each="role : ${roles}"
                                            th:value="${role.nameRole}"
                                            th:utext="${#strings.replace(role.nameRole, 'ROLE_', '')}"></option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="deleteUser" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/main.js" th:src="@{/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            loadUsersAdmin();
        });
        function loadUsersAdmin() {
            fetch("/api/users")
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    $("#users").html('');
                    data.forEach(function (el) {
                        var tbody = $('#users')
                        var tr = $('<tr></tr>').appendTo(tbody)
                        var td
                        $('<td></td>').text(el.id).appendTo(tr)
                        $('<td></td>').text(el.name).appendTo(tr)
                        $('<td></td>').text(el.surname).appendTo(tr)
                        $('<td></td>').text(el.mail).appendTo(tr)
                        $('<td></td>').text(el.age).appendTo(tr)
                        $('<td></td>').text(getRoles(el)).appendTo(tr)
                        td = $('<td></td>').appendTo(tr)
                        $('<button></button>').text('Edit').attr('onClick', 'openAndFillModalUpdate(this)')
                            .addClass('btn btn-primary')
                            .attr('data-bs-target', '#updateModal')
                            .attr('data-bs-toggle', 'modal')
                            .val(el.id).appendTo(td)
                        td = $('<td></td>').appendTo(tr)
                        $('<button></button>').text('Delete').appendTo(td).attr('onClick', 'openAndFillModalDelete(this)')
                            .addClass('btn btn-danger')
                            .attr('data-bs-target', '#deleteModal')
                            .attr('data-bs-toggle', 'modal')
                            .val(el.id).appendTo(td)
                    })
                });
        }

        function openAndFillModalUpdate(obj) {
            var id = obj.value
            var user = getUserById(id)
            $('#form-control_id').val(user.id)
            $('#form-control_name').val(user.name)
            $('#form-control_surname').val(user.surname)
            $('#form-control_mail').val(user.mail)
            $('#form-control_age').val(user.age)
            $('#form-control_password').val(user.password)
        }
        function openAndFillModalDelete(obj) {
            var id = obj.value
            var user = getUserById(id)
            $('#form-control_delete_id').val(user.id)
            $('#form-control_delete_name').val(user.name)
            $('#form-control_delete_surname').val(user.surname)
            $('#form-control_delete_mail').val(user.mail)
            $('#form-control_delete_age').val(user.age)
            $('#form-control_delete_password').val(user.password)
        }

        addUser.onsubmit = async (e) => {
            e.preventDefault();
            var user = getUserFromForm(addUser);
            let response = await fetch('/api/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(user),
            });
            loadUsersAdmin()
        };

        editUser.onsubmit = async (e) => {
            e.preventDefault();
            var user = getUserFromForm(editUser);
            console.log(user)
            let response = await fetch('/api/users/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(user),
            });
            $('#updateModal').modal('hide')
            loadUsersAdmin()
        };

        deleteUser.onsubmit = async (e) => {
            e.preventDefault();
            var user = getUserFromForm(deleteUser);
            console.log(user)
            let response = await fetch('/api/users/' + user.id, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(user),
            });
            $('#deleteModal').modal('hide')
            loadUsersAdmin()
        };

    </script>
    </body>
</html>