<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Привет: [[${principal.getName()}]]</p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <th:block><a th:href="@{/UsersInfo}">Панель управления пользователями</a></th:block>
    <br>
</div>
<div sec:authorize="isAuthenticated()">
    <th:block><a th:href="@{/User}">Узнать свои данные</a></th:block>
    <br>
    <th:block><a th:href="@{/logout}">Выйти</a></th:block>
</div>
</body>
</html>