<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
        <h2>Пользователи</h2>
            <table border="1">
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Эл. почта</th>
                    <th>Возраст</th>
                    <th>Роль</th>
                    <th>Пароль</th>
                </tr>
                    <!--/*@thymesVar id="users" type=""*/-->
                    <th:block th:each="us : ${users}">
                        <tr>
                            <td><th:block th:text="${us.getName()}"></th:block></td>
                            <td><th:block th:text="${us.getSurname()}"></th:block></td>
                            <td><th:block th:text="${us.getMail()}"></th:block></td>
                            <td><th:block th:text="${us.getAge()}"></th:block></td>
                            <td ><p th:each="us1 : ${us.roles}" th:text="${#strings.replace(us1.nameRole, 'ROLE_', '')}"></p></td>
                            <td><th:block th:text="${us.password}"></th:block></td>
                            <td><th:block><a th:href="@{deleteUser(id=${us.getId()})}">Удалить</a></th:block></td>
                            <td><th:block><a th:href="@{updateUser(id=${us.getId()})}">Изменить</a></th:block></td>
                        </tr>
                    </th:block>
            </table>
            <br>

        <h2>Добавить пользователя</h2>
        <form action="#" th:action="@{/addUser}">
        <table border="1">
            <tr>
                <th>Имя:</th>
                <th><input type="text" th:field="${user.name}"/></th>
            </tr>
            <tr>
                <th>Фамилия:</th>
                <th><input type="text" th:field="${user.surname}"/></th>
            </tr>
            <tr>
                <th>Емаил:</th>
                <th><input type="text" th:field="${user.mail}" required/></th>
            </tr>
            <tr>
                <th>Возраст:</th>
                <th><input type="text" th:field="${user.age}" /></th>
            </tr>
            <tr>
                <th>Пороль:</th>
                <th><input type="text" th:field="${user.password}" /></th>
            </tr>

            <tr>
                <th>Роль:</th>
                <th>
                    <select th:name="roleName", size="2" required>
                        <option th:each="role : ${roles}"
                                th:value="${role.nameRole}"
                                th:utext="${#strings.replace(role.nameRole, 'ROLE_', '')}"></option>
                    </select></th>
            </tr>
        </table>
            <p><input type="submit" value="ОК" /></p>
        </form>
        <br>
        <th:block><a th:href="@{/}">Вернуться на главную страницу</a></th:block>
        <br>
        <th:block><a th:href="@{/logout}">Выйти</a></th:block>
    </body>
</html>